<section class="about-artists">
  <div class="about-container">
    <img
      src="/"
      alt="Team"
      class="about-image"
      width="640"
      height="665"
      loading="lazy"
    />
    <div class="about-content">
      <svg class="about-svg"></svg>
      <div class="about-title">
        <h2 class="title">About ArtistsHub</h2>
        <p class="subtitle">
          At ArtistsHub, our mission is to connect music lovers with the artists
          they adore. We strive to create a vibrant community where discovering
          new music is as enjoyable as listening to it.
        </p>
      </div>
    </div>
  </div>
</section>
