<section class="about-artists" id="about-artists">
  <div class="container about-container">
    <div class="about-us-box">
      <picture>
        <source
          srcset="
            /img/about-us/about-us-desktop.webp    1x,
            /img/about-us/about-us-desktop@2x.webp 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            /img/about-us/about-us-tablet.webp    1x,
            /img/about-us/about-us-tablet@2x.webp 2x
          "
          media="(min-width: 768px) and (max-width: 1439px)"
        />
        <source
          srcset="
            /img/about-us/about-us-mobil.webp    1x,
            /img/about-us/about-us-mobil@2x.webp 2x
          "
          media="(max-width: 767px)"
        />
        <img
          src="/img/about-us/about-us-desktop.webp"
          alt="About Us Image"
          class="about-us-image"
        />
      </picture>
    </div>
    <div class="about-content">
      <svg class="about-svg" width="80" height="80">
        <use href="/img/icon/about-us-sprite.svg#icon-logo-icon"></use>
      </svg>
      <h2 class="title">About ArtistsHub</h2>
      <p class="subtitle">
        At ArtistsHub, our mission is to connect music lovers with the artists
        they adore. We strive to create a vibrant community where discovering
        new music is as enjoyable as listening to it.
      </p>
    </div>
  </div>
</section>
