<header class="header">
  <div class="container">
    <a href="#">
      <img src="../images/logo.svg" alt="Logo icon" class="logo-icon" />
    </a>
    <img src="../images/menu.svg" alt="Menu Icon" class="menu-icon" />
    <nav class="navigation hidden">
      <ul class="nav-list">
        <li><a class="nav-text" href="#artists">Artists</a></li>
        <li><a class="nav-text" href="#about-artists">About Us</a></li>
        <li><a class="nav-text" href="#feedback">Reviews</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="mobile-menu mobmenu-hidden">
  <div class="mobile-menu-header">
    <img src="../images/logo.svg" alt="Logo icon" class="logo-icon" />
    <img src="../images/menu-close.svg" alt="Close Icon" class="close-icon" />
  </div>

  <ul class="mobile-nav-list">
    <li><a href="#artists">Artists</a></li>
    <li><a href="#about-artists">About Us</a></li>
    <li><a href="#feedback">Reviews</a></li>
  </ul>
</div>
