<section class="hero" id="hero">
   <div class="container">
    <div class="hero-text">
      <h1 class="herotext"> Discover Your Next Favorite Artist Today</h1>
      <p>Dive into a world of music discoveries with ArtistsHub – your personal guide to the boundless universe of sound. Explore, filter, and learn about your favorite artists all in one place.</p>
      <button type="button" class="hero-btn" id="hero-scroll-btn">Explore Artists
          <svg class="hero-btn-icon" width="24" height="24">
          <use href="/img/icon/hero.svg#icon-icon"></use>
        </svg>

      </button>
    </div>
  <div class="heropaint">
      <picture>

  <source 
    media="(min-width: 1440px)" 
    srcset="/img/hero/hero-desktop.webp 1x, /img/hero/hero-desktop@2x.webp 2x">

  <source 
    media="(min-width: 768px)" 
    srcset="/img/hero/hero-tablet.webp 1x, /img/hero/hero-tablet@2x.webp 2x">

  <img 
    src="/img/hero/hero-mobile.webp" 
    srcset="/img/hero/hero-mobile@2x.webp 2x"
    alt="art" 
    width="704"
    class="hero-img">
</picture>
  </div>
    </div>
</section>
<script type="module" src="/main.js"></script>
