.about-container {
  display: flex;
  flex-direction: column;
}

.about-us-box {
  margin-bottom: 48px;
}

.about-us-image {
  border-radius: 16px;
  width: 100%;
}

.about-content {
  text-align: start;
}

.about-svg {
  fill: var(--color-white);
}

.about-content svg {
  margin-bottom: 20px;
}

.artist__card--genre-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  list-style: none;
  padding: 0;
  margin-top: 10px;
  margin-bottom: 8px;
}

.artist__card--genre-item {
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  padding: 4px 12px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: capitalize;
}

.title {
  font-weight: 700;
  font-size: 44px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #fff;
  margin-bottom: 20px;
}

.subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}

@media (min-width: 768px) {
  .about-us-box {
    margin-bottom: 24px;
  }

  .about-content svg {
    margin-bottom: 24px;
  }

  .title {
    margin-bottom: 24px;
  }

  .subtitle {
    font-size: 20px;
  }
}

@media (min-width: 1440px) {
  .about-container {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }

  .about-us-image {
    height: auto;
  }

  .about-content {
    flex-direction: column;
    justify-content: center;
    max-width: 640px;
  }

  .title {
    font-size: 60px;
  }
}
